[XDebug]
zend_extension="{{ php_xdebug_module_path }}/xdebug.so"
xdebug.remote_enable=true
xdebug.remote_host={{ php_xdebug_remote_host }}
xdebug.remote_port={{ php_xdebug_remote_port }}
xdebug.remote_handler=dbgp
